.details-wrap {
  display: flex;
  flex-direction: column;
  // gap: 1rem;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: url("../assets/background-two.png");
  background-size: cover;
  background-color: #f2f1f1;
  font-family: "Mulish", sans-serif;
  max-height: 100%;

  .story-header {
    font-weight: 300;
    font-size: 2rem;
    display: flex;
    gap: 0.5rem;
    // padding-bottom: 0.5rem;
    // border-bottom: 0.4rem solid #560256;

    // font-family: "Pacifico";
    justify-content: center;
    margin-top: 3rem;

    .story-head {
      border-bottom: 0.4rem solid #560256;
    }

    @media screen and (max-width: 768px) {
      font-size: 2rem;
      margin-top: 3rem;
    }
  }

  .story-subtext {
    font-size: 1.5rem;
    font-weight: 500;

    letter-spacing: 0.1rem;

    @media screen and (max-width: 768px) {
      font-size: 1rem;
    }
  }

  .story-time {
    font-weight: 400;
    text-align: center;
    // display: flex;
    width: 50rem;
    line-height: 2rem;
    // letter-spacing: 0.1rem;
    .read-more {
      cursor: pointer;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      font-size: 0.8rem;
      line-height: 1.5rem;
      padding: 0.5rem 1rem;
    }
  }

  .image-wrap {
    display: flex;
    justify-content: center;
    gap: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: scroll;
    padding-bottom: 3rem;
    width: 100%;

    .img {
      width: 20rem;

      @media screen and (max-width: 768px) {
        width: 10rem;
      }
    }
  }
}
