.about-wrap {
  position: relative;
  background: url("../assets/sub-background.png");
  background-size: cover;
  padding: 2rem;
  background-color: rgba(103, 62, 62, 0.6);
  height: 30rem;
  overflow-y: scroll;
  overflow-x: hidden;

  .about-box {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;

    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(10px);
      z-index: 1;
      // min-height: 120vh;
    }

    .left-wrap {
      position: relative;
      z-index: 2;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .left-box {
        gap: 10rem;
        display: flex;
        align-items: center;
        padding: 2rem;

        @media screen and (max-width: 768px) {
          flex-direction: column;
          gap: 2rem;
          justify-content: center;
          align-items: center;
        }

        img {
          width: 20rem;

          @media screen and (max-width: 768px) {
            width: 15rem;
          }
        }

        p {
          color: #fff;
          width: 40rem;
          font-weight: 500;

          @media screen and (max-width: 768px) {
            width: 20rem;
            padding: 2rem;
            font-size: 0.8rem;
          }
        }
      }
      .down-box {
        @media screen and (max-width: 768px) {
          display: flex;
          flex-direction: column-reverse;
        }
      }
    }
  }
}
