.homepage-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: var(--fancy-font);
  min-height: 100vh;
  text-align: center;
  // align-items: center;
  // justify-content: center;
  background: url("../assets/rose-background.jpg");
  background-size: cover;
  // position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../assets/background-img.png");
    opacity: 0.6;
    background-size: cover;
  }

  .header-block {
    // position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    color: #ffff !important;
    // background-color: #a52a2a;
    padding: 0.5rem 1rem;
    margin-top: auto; /* Bring header block to the bottom */

    .head-text {
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: 1000;
      letter-spacing: 1.5rem;
      font-family: var(--block-font);
      text-align: center;
      color: #ffff !important;
    }
    .married-text {
      text-align: center;
      font-family: var(--fancy-font);
      text-transform: capitalize;
      font-size: 1.5rem;
      // font-style: italic;
      letter-spacing: 0.2rem;
      color: #ffff !important;
      font-weight: 000;
    }
    p {
      // color: #a52a2a;
      color: #ffff;
      font-weight: 800;
    }
  }

  .image-block {
    display: flex;
    flex-direction: column;
    // align-items: center;
    margin-bottom: auto;

    .img {
      // position: fixed;
      position: absolute;
      left: 0;
      width: 20rem;
      animation: rotate 4s linear infinite;
    }
    .cake-img {
      margin-top: -5rem;
      width: 25rem;
    }
  }

  .address-block {
    font-style: italic;
    letter-spacing: 0.1rem;
    font-weight: 500;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
