// .layout-con {
//   position: relative;

// .sidemenu-wrap {
// //   z-index: 9999;
// //   position: fixed;
// //   top: 5rem;
// //   left: 3rem;
// // }

.btn-wrap-lay {
  display: flex;
  gap: 1rem;
  text-transform: uppercase;
  position: fixed;
  // bottom: 1rem;
  // right: 0;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  padding-right: 3rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding-right: 1rem;
  }

  .btn-box {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-family: "Mulish", sans-serif;

    // background: #560256;
    background: #fff;
    color: #560256;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    // box-shadow: 12px 2px 5px 5px #474545;
    // color: #fff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1),
      /* darker shadow */ -10px -10px 20px rgba(255, 255, 255, 0.8); /* lighter shadow */
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 500;
    animation: bounce 3s infinite;

    // align-items: center;
    &:hover {
      box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
      transform: translateY(-2px);
    }
    p {
      justify-content: center;
      transform: translateY(7px);
      font-size: 1.6rem;
      text-transform: capitalize;
      @media screen and (max-width: 768px) {
        font-size: 1rem;
      }
    }
    .icon {
      // transform: translateY(8px);

      @media screen and (max-width: 768px) {
        width: 1rem !important;
        transform: translateY(5px);
      }
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
// }

.harmburger-menu {
  position: fixed;
  left: 0;
  padding: 4rem;
  z-index: 999;
}
